<header>
	<nav>
		<h2>Le bon clone</h2>

		{# Tout ce qui concerne (if, for) = syntaxe {% %} #}
		<div id="nav-buttons">
			<a href="{{path('app_home')}}">HomePage</a>
			{% if app.user %}
				<a href="{{path('app_add_ad')}}">
					<button>Post your Ad</button>
				</a>
				<input type="search" id="search" placeholder="search an ad">
				<a href="{{path('app_ad', {id : app.user.id})}}">
					<button>Check my Ads</button>
				</a>
				<a href="{{path('app_logout')}}" id="logout">Log out</a>
				<a href="{{path('app_cart')}}" id="a_relative">
					<i class="fa-solid fa-2xl fa-cart-shopping"></i>
					<span id="nbProd" style="display: {{app.session.get('cart') ? 'inline' : 'none'}}">{{app.session.get('cart')|length ?: ''}}</span>
				</a>
			{% else %}
				<a href="{{path('app_register')}}">Sign up</a>
				<a href="{{path('app_login')}}">Log in</a>
			{% endif %}
		</div>
	</nav>
</header>

<div class="flash-message">
	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ label }} alert-messages">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}
</div>
