<header>
	<nav>
		<h2>Le bon clone</h2>

		{# Tout ce qui concerne (if, for) = syntaxe {% %} #}
		<div id="nav-buttons">
			{% if app.user %}
				<a href="{{path('app_add_ad')}}">
					<button>Post your Ad</button>
				</a>
				<a href="{{path('app_ad', {id : app.user.id})}}">
					<button>Check my Ads</button>
				</a>
				<a href="{{path('app_logout')}}" id="logout">Log out</a>
			{% else %}
				<a href="{{path('app_register')}}">Sign up</a>
				<a href="{{path('app_login')}}">Log in</a>
			{% endif %}
		</div>
	</nav>
</header>

<div class="flash-message">
	{% for label, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ label }} alert-messages">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}
</div>
