{% extends 'base.html.twig' %}

{% block title %}Hello AdController!
{% endblock %}

{% block body %}
	<h2>
		Profil page of
		{{user.email|split('@')[0]}}</h2>
	<div class="container container1">
		{% if products is empty %}
			<h2>This user doesn't have any Ad yet</h2>
		{% endif %}
		{% for pr in products %}
			<div class="carta">
				<div class="div-img">
					<h2>{{pr.name}}</h2>
					<img src="{{asset("assets/uploads/" ~ pr.mainImage)}}" alt="{{pr.description}}">
				</div>
				<div class="text-product">
					<p>{{pr.description | u.truncate(30, '...')}}</p>
					<p>
						Price :
						{{pr.price}}$</p>
				</div>
				{% if app.user.id is same as(pr.user.id) %}
					<button class="modify-ad" data-id="{{pr.id}}">Modify your ad</button>
					<button class='delete-ad' data-id="{{pr.id}}">Delete your ad</button>
				{% else %}
					<button id="{{pr.id}}" class="addToCart">Add To Cart</button>
				{% endif %}
			</div>
		{% endfor %}
	</div>
{% endblock %}
